.fav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: gray;
    transition: color 0.3s;
  }
  
  .fav-button.active {
    color: gold; 
  }
 
  .star {
    font-size: 2rem;
    color: inherit;
  }
  